body{    
    display: flex;
    font-family: Helvetica, sans-serif;
    height: -webkit-fill-available;
    width: 100vw;
    overflow: scroll;
    overflow-x: hidden;
    margin:0px;
    background-color: rgb(252, 246, 238);
    max-width:100%;
    flex-direction: column;
}

.top{
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    background-image: url(../src/img/farm.jpg);
    background-position: center center;
}

.first{
    height:100vh;
    width:100vw;
    justify-content: space-between;
    margin:auto;
    flex-direction: column;
    display: flex;
}

.subscribe{
    display: flex;
    align-items: center;
    align-content: flex-end;
    justify-content: center;
    width:100vw;
    height:3rem;
    padding: 5px;
    background-color: blanchedalmond;
}

.subscribe > input{
    margin-left:1rem;
}

.subscribe > button{
    margin-left:1rem;
}

header{
    font-size: 2rem;
    margin:auto;
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: stretch;
    color: antiquewhite;
    margin-left: 30px;
    margin-top: 30px;
}

.res{
    display: flex;
    font-size: 1rem;
    height: 2.5rem;
    width: 120px;
    align-items: center;
    align-self: flex-end;
    justify-items: end;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 30px;
}

#content{
    height: 800px;
    width: 600px;
    background-color: rgb(57, 53, 48);
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: antiquewhite;
    text-align: center;
    border-radius: 5%;
}

.tabButtons{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 3rem;
    width: 300px;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: antiquewhite;
    text-align: center;
}

footer{
    display: flex;
    flex-direction: column;
    align-self: end;
    height: 300px;
    width: 300px;
}